---
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";

type Props = CollectionEntry<"posts">["data"];
const { title, description, publishDate, coverImage, author } = Astro.props;
---

<Layout>
  <div class="post-page">
    <h1>{title}</h1>
    <img class="post-page-image" src={coverImage.src} alt={title} />
  </div>
  <h2>Post author: {author}</h2>
  <p>{description}</p>
  <p>{publishDate}</p>
  <slot />
  <!-- Markdown content is injected here -->
</Layout>

<style>
  .post-page {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .post-page-image {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
  }
</style>
