---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";
import "../styles/post-page.css";

type Props = CollectionEntry<"posts">["data"];
const { title, description, publishDate, coverImage, isHebTitle } = Astro.props;

const formatDate = (publishDate: Date) => {
  const year = publishDate.getFullYear();
  const month =
    publishDate.getMonth() + 1 < 10
      ? `0${publishDate.getMonth() + 1}`
      : publishDate.getMonth() + 1;
  const day = publishDate.getDate();

  return `${day}/${month}/${year}`;
};
---

<Layout>
  <div class="post-page">
    <Image class="post-page-cover" src={coverImage} alt={title} />
    <h1>{title}</h1>
    <p class="pub-date">{formatDate(publishDate)}</p>
    <hr />
    <p class="post-description">{description}</p>
    <article>
      <slot />
    </article>
    <!-- Markdown content is injected here -->
  </div>
</Layout>
