---
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout>
  <div class="post-page">
    <h1>{frontmatter.title}</h1>
    <h2>Post author: {frontmatter.author}</h2>
    <p>{frontmatter.description}</p>
    <slot />
    <!-- Markdown content is injected here -->
    <img
      class="post-page-image"
      src={`../../images/${frontmatter.image}`}
      alt={frontmatter.image}
    />
  </div>
</Layout>

<style>
  .post-page {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .post-page-image {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
  }
</style>
